In [1]:
import requests
import json
import time

def get_data():
    """ Retrieve the fpl player data from the hard-coded url
    """
    response = requests.get("https://fantasy.premierleague.com/api/bootstrap-static/")
    if response.status_code != 200:
        raise Exception("Response was code " + str(response.status_code))
    responseStr = response.text
    data = json.loads(responseStr)
    return data

In [5]:
def main():
    data = get_data()
    with open('raw.json', 'w') as outf:
        json.dump(data, outf)
    return data

In [7]:
data = main()

In [8]:
data.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [24]:
for player in data['elements']:
    if player['in_dreamteam'] is True:
        print(player['first_name'] + ' ' + player['second_name'])

Antonio Rüdiger
Mohamed Salah
Trent Alexander-Arnold
Diogo Jota
João Pedro Cavaco Cancelo
Aymeric Laporte
Bernardo Mota Veiga de Carvalho e Silva
Heung-Min Son
Michail Antonio
Jarrod Bowen
José Malheiro de Sá

In [67]:
import pandas as pd
data_2 = data['elements']
players = pd.json_normalize(data_2)
players[['web_name', 'form', 'total_points', 'minutes']].sort_values(by=['form'], ascending=False).head(10)

          web_name form  total_points  minutes
657       Moutinho  8.7            68     1749
15         Tierney  8.3            82     1286
20            Saka  8.3            96     1570
640          Bowen  8.0           124     1948
399        Laporte  7.8           101     1632
523    Ward-Prowse  7.4            85     1775
391      De Bruyne  7.2            86     1092
243        Edouard  6.4            77     1156
468  Saint-Maximin  6.3            84     1796
363        Fabinho  5.8            56     1341

In [68]:
ppm = 90 * players['total_points'] / players['minutes']

In [69]:
players = pd.concat([players, ppm], axis=1)
players.head()
players[['web_name', 'form', 'total_points', 'minutes', 0]].sort_values(by=[0], ascending=False).head(40)

             web_name form  total_points  minutes          0
271              Kean  0.0             1        1  90.000000
651              Kral  0.2             1        1  90.000000
683            Cundle  0.3             1        1  90.000000
58             Wesley  0.0             1        1  90.000000
377        N.Williams  0.0             4        7  51.428571
315           McAteer  0.0             1        2  45.000000
366             Origi  0.0            14       38  33.157895
653           Perkins  0.2             1        3  30.000000
346         McKinstry  0.0             1        3  30.000000
417            McAtee  0.0             1        3  30.000000
369             Gomez  0.2             4       15  24.000000
208           Emerson  0.0             1        4  22.500000
68   Philogene-Bidace  0.0             1        4  22.500000
427           Lingard  0.2            20       89  20.224719
433       van de Beek  0.2            14       69  18.260870
279             Tosun  0.0             1        5  18.000000
367          Minamino  1.8            17       86  17.790698
652             Ashby  0.0             1        6  15.000000
671       Gibbs-White  0.0             1        7  12.857143
461             Gayle  0.3             4       28  12.857143
383            Gordon  0.2             1        8  11.250000
230          Ferguson  0.2             1        8  11.250000
70             Archer  0.0             3       24  11.250000
458          Hendrick  0.0             8       69  10.434783
632        Yarmolenko  0.3            10       87  10.344828
343          McCarron  0.0             1        9  10.000000
281           Onyango  0.3             3       27  10.000000
100          Bidstrup  0.1             4       36  10.000000
598          Fletcher  0.0             3       28   9.642857
571             Bryan  0.8             9       86   9.418605
49          Trézéguet  0.2             1       10   9.000000
148         Sarmiento  0.0             2       20   9.000000
269       Branthwaite  0.0             9       90   9.000000
196          Chilwell  0.0            54      540   9.000000
364             Salah  1.8           177     1783   8.934380
626             Noble  1.5             9       94   8.617021
306              Daka  3.8            43      450   8.600000
76           Coutinho  4.5             9       95   8.526316
676       Fabio Silva  1.3            12      130   8.307692
394            Mahrez  3.8            77      839   8.259833

In [70]:
players.columns

Index([        'chance_of_playing_next_round',
               'chance_of_playing_this_round',
                                       'code',
                          'cost_change_event',
                     'cost_change_event_fall',
                          'cost_change_start',
                     'cost_change_start_fall',
                            'dreamteam_count',
                               'element_type',
                                    'ep_next',
                                    'ep_this',
                               'event_points',
                                 'first_name',
                                       'form',
                                         'id',
                               'in_dreamteam',
                                       'news',
                                 'news_added',
                                   'now_cost',
                                      'photo',
                            'points_per_game',
                                'second_name',
                        'selected_by_percent',
                                    'special',
                               'squad_number',
                                     'status',
                                       'team',
                                  'team_code',
                               'total_points',
                               'transfers_in',
                         'transfers_in_event',
                              'transfers_out',
                        'transfers_out_event',
                                 'value_form',
                               'value_season',
                                   'web_name',
                                    'minutes',
                               'goals_scored',
                                    'assists',
                               'clean_sheets',
                             'goals_conceded',
                                  'own_goals',
                            'penalties_saved',
                           'penalties_missed',
                               'yellow_cards',
                                  'red_cards',
                                      'saves',
                                      'bonus',
                                        'bps',
                                  'influence',
                                 'creativity',
                                     'threat',
                                  'ict_index',
                             'influence_rank',
                        'influence_rank_type',
                            'creativity_rank',
                       'creativity_rank_type',
                                'threat_rank',
                           'threat_rank_type',
                             'ict_index_rank',
                        'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
        'corners_and_indirect_freekicks_text',
                     'direct_freekicks_order',
                      'direct_freekicks_text',
                            'penalties_order',
                             'penalties_text',
                                            0],
      dtype='object')