In [1]:
import requests
import json
import time
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
# FUNCTION
import requests
url = "https://fantasy.premierleague.com/api/bootstrap-static/"

response = requests.get(url)
team_df = pd.DataFrame(response.json()['teams']).set_index('id').drop(columns=[
       'code', 'draw', 'form',
       # 'id',
       'loss', 'name', 'played', 'points',
       'position', 'short_name',
       # 'strength', 
       'team_division', 'unavailable',
       'win',
       #'strength_overall_home', 'strength_overall_away',
       #'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       #'strength_defence_away',
       'pulse_id'])

In [5]:
response

In [24]:
team_df = pd.DataFrame(response.json()['teams']).set_index('id').drop(columns=[
       'code', 'draw', 'form',
       # 'id',
       'loss', 'name', 'played', 'points',
       'position', 'short_name',
       # 'strength', 
       'team_division', 'unavailable',
       'win',
       #'strength_overall_home', 'strength_overall_away',
       #'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       #'strength_defence_away',
       'pulse_id'])

In [25]:
team_df

,strength,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away
id,,,,,,,
1,4,1210,1270,1150,1210,1190,1220
2,3,1130,1160,1140,1110,1090,1090
3,2,1060,1070,1120,1150,1080,1120
4,3,1130,1130,1160,1160,1100,1120
5,2,1060,1050,1080,1130,1060,1100
6,5,1320,1350,1300,1300,1250,1290
7,3,1090,1100,1110,1160,1080,1160
8,3,1090,1090,1130,1090,1110,1110
9,3,1160,1190,1100,1080,1150,1160
10,3,1090,1100,1080,1070,1100,1100
11,5,1330,1350,1300,1350,1340,1350
12,5,1350,1370,1340,1360,1340,1360
13,4,1210,1270,1170,1190,1190,1200
14,3,1090,1070,1050,1030,1040,1070
15,2,1010,1030,1040,1040,1040,1030
16,3,1090,1100,1090,1140,1120,1090
17,4,1210,1270,1190,1200,1210,1210
18,2,1050,1050,1090,1040,1120,1070
19,4,1200,1200,1110,1150,1160,1180
20,4,1200,1220,1150,1160,1080,1100

In [27]:
with open('./fixtures.json', 'r') as f:
  fixtures = json.load(f)

In [29]:
fixtures

{'id': '16376',
 'isResult': True,
 'h': {'id': '244', 'title': 'Brentford', 'short_title': 'BRE'},
 'a': {'id': '83', 'title': 'Arsenal', 'short_title': 'ARS'},
 'goals': {'h': '2', 'a': '0'},
 'xG': {'h': '1.88818', 'a': '1.02385'},
 'datetime': '2021-08-13 19:00:00',
 'forecast': {'w': '0.6289', 'd': '0.2287', 'l': '0.1424'}}